# Importing Libraries

In [0]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

# Reading from file

In [0]:
df = pd.read_csv('z.txt')

In [6]:
df.head()

       name  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17
0  aardvark  1  0  0  1  0  0  1  1  1   1   0   0   4   0   0   1   1
1  antelope  1  0  0  1  0  0  0  1  1   1   0   0   4   1   0   1   1
2      bass  0  0  1  0  0  1  1  1  1   0   0   1   0   1   0   0   4
3      bear  1  0  0  1  0  0  1  1  1   1   0   0   4   0   0   1   1
4      boar  1  0  0  1  0  0  1  1  1   1   0   0   4   1   0   1   1

# Data Preprocessing

In [0]:
df['class'] = 0

In [8]:
df.head()

       name  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  class
0  aardvark  1  0  0  1  0  0  1  1  1   1   0   0   4   0   0   1   1      0
1  antelope  1  0  0  1  0  0  0  1  1   1   0   0   4   1   0   1   1      0
2      bass  0  0  1  0  0  1  1  1  1   0   0   1   0   1   0   0   4      0
3      bear  1  0  0  1  0  0  1  1  1   1   0   0   4   0   0   1   1      0
4      boar  1  0  0  1  0  0  1  1  1   1   0   0   4   1   0   1   1      0

In [0]:
l1 = ['aardvark', 'antelope', 'bear', 'boar', 'buffalo', 'calf','cavy', 'cheetah', 'deer', 'dolphin', 'elephant','fruitbat', 'giraffe', 'girl', 'goat', 'gorilla', 'hamster','hare', 'leopard', 'lion', 'lynx', 'mink', 'mole', 'mongoose','opossum', 'oryx', 'platypus', 'polecat', 'pony','porpoise', 'puma', 'pussycat', 'raccoon', 'reindeer','seal', 'sealion', 'squirrel', 'vampire', 'vole', 'wallaby','wolf']
l2 = ['chicken', 'crow', 'dove', 'duck', 'flamingo', 'gull', 'hawk','kiwi', 'lark', 'ostrich', 'parakeet', 'penguin', 'pheasant','rhea', 'skimmer', 'skua', 'sparrow', 'swan', 'vulture', 'wren']
l3 = ['pitviper', 'seasnake', 'slowworm', 'tortoise', 'tuatara']
l4 = ['bass', 'carp', 'catfish', 'chub', 'dogfish', 'haddock','herring', 'pike', 'piranha', 'seahorse', 'sole', 'stingray', 'tuna']
l5 = ['frog', 'frog', 'newt', 'toad'] 
l6 = ['flea', 'gnat', 'honeybee', 'housefly', 'ladybird', 'moth', 'termite', 'wasp']
l7 = ['clam', 'crab', 'crayfish', 'lobster', 'octopus','scorpion', 'seawasp', 'slug', 'starfish', 'worm']

In [10]:
for i in range(101):
    #print(df['name'][i])
    if df['name'][i] in l1:
        df['class'][i] = 1
    elif df['name'][i] in l2:
        df['class'][i] = 2
    elif df['name'][i] in l3:
        df['class'][i] = 3
    elif df['name'][i] in l4:
        df['class'][i] = 4
    elif df['name'][i] in l5:
        df['class'][i] = 5
    elif df['name'][i] in l6:
        df['class'][i] = 6
    elif df['name'][i] in l7:
        df['class'][i] = 7

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
df.head()

       name  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  class
0  aardvark  1  0  0  1  0  0  1  1  1   1   0   0   4   0   0   1   1      1
1  antelope  1  0  0  1  0  0  0  1  1   1   0   0   4   1   0   1   1      1
2      bass  0  0  1  0  0  1  1  1  1   0   0   1   0   1   0   0   4      4
3      bear  1  0  0  1  0  0  1  1  1   1   0   0   4   0   0   1   1      1
4      boar  1  0  0  1  0  0  1  1  1   1   0   0   4   1   0   1   1      1

In [0]:
df.to_pickle('dataP')

In [0]:
for i in range(101):
    if df['class'][i] == 0:
        print('fuck')
        print(df['name'][i])

# Data splitting

In [0]:
x = df.drop(['name' , 'class'] , axis = 1)

In [0]:
y = df['class']

In [0]:
xtrain , xtest , ytrain , ytest = train_test_split(x , y , test_size = 0.2 , stratify = y)

In [17]:
xtrain['13'] = xtrain['13']/10

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
xtrain['17'] = xtrain['17']/10

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
#xtrain

#Evaluation of different kernels using Training and Cross Validation Score on our Training Data

# Linear Kernel

In [0]:
linearSVM = SVC(kernel='linear' , random_state=42)

In [21]:
linearSVM.fit(xtrain , ytrain)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=42,
  shrinking=True, tol=0.001, verbose=False)

In [22]:
cross_val_score(linearSVM , xtest , ytest , cv = 5)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

array([0.75, 1.  , 0.75, 1.  , 1.  ])

# Polynomial Kernel

In [0]:
polynomialSVM = SVC(kernel='poly' , random_state=42)

In [24]:
polynomialSVM.fit(xtrain , ytrain)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='poly', max_iter=-1, probability=False, random_state=42,
  shrinking=True, tol=0.001, verbose=False)

In [25]:
cross_val_score(polynomialSVM, xtest, ytest, cv = 5)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

array([0.75      , 0.83333333, 0.75      , 1.        , 1.        ])

# Radial Basis Kernel

In [0]:
gaussianSVM = SVC(kernel='rbf' , random_state=42)

In [27]:
gaussianSVM.fit(xtrain , ytrain)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=42,
  shrinking=True, tol=0.001, verbose=False)

In [28]:
cross_val_score(gaussianSVM , xtest , ytest , cv=5)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

array([0.75, 1.  , 1.  , 1.  , 1.  ])

# Sigmoid Kernel

In [0]:
sigmoidSVM = SVC(kernel='sigmoid' , random_state=42)

In [30]:
sigmoidSVM.fit(xtrain , ytrain)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='sigmoid', max_iter=-1, probability=False, random_state=42,
  shrinking=True, tol=0.001, verbose=False)

In [31]:
cross_val_score(sigmoidSVM , xtest , ytest , cv=5)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

array([0.25      , 0.33333333, 0.5       , 0.5       , 1.        ])